<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('partials/header') -%>

    <p> <%= startingContent %></p>

    <% console.log(posts) %>

    <!-- <%for(let i = 0 ; i<posts.lenght; i++) {%> -->
    <% posts.forEach(function(post){ %>
       <h1> <%= post.title  %> </h1>
         <p> <%= post.content %> </p>
    <%- include('partials/footer') -%>
</body>
</html>